
{% extends 'header.html' %}



{% block content %}
<style>
           .bd-placeholder-img1 {
            background-image: url('../static/images/Duet-Display-4-screens-1870x1248.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center-center;
           }
           .bd-placeholder-img2 {
            background-image: url('../static/images/Laptop-for-photo-editing_by_Laurence-Norah.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center-center;
           }
           .bd-placeholder-img3 {
            background-image: url('../static/images/laptopstopicpage-2048px-2102-2x1-1.webp');
  background-repeat: no-repeat;
  background-size: cover; /* You can use other values like 'contain' or specific dimensions */
  background-position: center-center;
           }
           @media (min-width: 768px) {
             .bd-placeholder-img-lg {
               font-size: 3.5rem;
             }
           }

           .b-example-divider {
             width: 100%;
             height: 3rem;
             background-color: rgba(0, 0, 0, .1);
             border: solid rgba(0, 0, 0, .15);
             border-width: 1px 0;
             box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
           }

           .b-example-vr {
             flex-shrink: 0;
             width: 1.5rem;
             height: 100vh;
           }

           .bi {
             vertical-align: -.125em;
             fill: currentColor;
           }

           .nav-scroller {
             position: relative;
             z-index: 2;
             height: 2.75rem;
             overflow-y: hidden;
           }

           .nav-scroller .nav {
             display: flex;
             flex-wrap: nowrap;
             padding-bottom: 1rem;
             margin-top: -1px;
             overflow-x: auto;
             text-align: center;
             white-space: nowrap;
             -webkit-overflow-scrolling: touch;
           }

           .btn-bd-primary {
             --bd-violet-bg: #712cf9;
             --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

             --bs-btn-font-weight: 600;
             --bs-btn-color: var(--bs-white);
             --bs-btn-bg: var(--bd-violet-bg);
             --bs-btn-border-color: var(--bd-violet-bg);
             --bs-btn-hover-color: var(--bs-white);
             --bs-btn-hover-bg: #6528e0;
             --bs-btn-hover-border-color: #6528e0;
             --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
             --bs-btn-active-color: var(--bs-btn-hover-color);
             --bs-btn-active-bg: #5a23c8;
             --bs-btn-active-border-color: #5a23c8;
           }

           .bd-mode-toggle {
             z-index: 1500;
           }

           .bd-mode-toggle .dropdown-menu .active .bi {
             display: block !important;
           }

         </style>


 <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img1" width="100%" height="150%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
            </svg>
            <div class="container">
                <div class="carousel-caption text-center">
                    <h1 class="display-4">Buy & sell electronics with us</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img2" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
            </svg>
            <div class="container">
                <div class="carousel-caption text-center">
                    <h1 class="display-4">Quality products at affordable prices</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img3" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
            </svg>
            <div class="container">
                <div class="carousel-caption text-center">
                    <h1 class="display-4">Reliable and fast delivery</h1>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>





       <div class="container marketing">


      <h1 style="display: flex; justify-content: center;">Best Sellers</h1>
         <hr class="featurette-divider">

         <div  style="margin-top: 50px;"class="row featurette">
           <div class="col-md-7">
             <h2 class="featurette-heading fw-normal lh-1">Apple Macbook Air 13 </h2>
             <br>
             <br>
             <p class="lead">Our most popular laptop, MacBook Air is supercharged by M1 and M2 chips. Featuring FaceTime HD camera, Touch ID, and vibrant Retina display.</p>
           </div>
           <div class="col-md-5">
            <img src="../static/images/0144415_apple-macbook-air-13-inch-2020-mgn93lla-m1chipset8gb256gb-ssd-silver-apple-m15nm-apple-7-core-gpu-8g_550.webp" class="card-img-top" alt="...">
           </div>
         </div>

         <hr class="featurette-divider">

         <div class="row featurette">
           <div class="col-md-7 order-md-2">
             <h2 class="featurette-heading fw-normal lh-1">Samsung Galaxy S23 Ultra 5G S918B/DS 12/256GB</h2>
             <br>
             <br>
             <p class="lead">The Samsung Galaxy S23 is a series of high-end Android-based smartphones designed, developed, manufactured, and marketed by Samsung Electronics as part of its flagship Galaxy S series.</p>
           </div>
           <div class="col-md-5 order-md-1">
            <img src="../static/images/0186120_samsung-galaxy-s23-ultra-5g-s918bds-12256gb-phantom-black_550.webp" class="card-img-top" alt="...">
           </div>
         </div>

         <hr class="featurette-divider">

         <div class="row featurette">
           <div class="col-md-7">
             <h2 class="featurette-heading fw-normal lh-1">Asus ROG Ally RC71L Z1 </h2>
             <br>
             <br>
             <p class="lead">Powered by up to an AMD Ryzen™ Z1 Extreme APU, the Ally can drive high framerates while retaining excellent image quality.</p>
           </div>
           <div class="col-md-5">
            <img src="../static/images/58d2ef74-8ce1-416f-8058-ae05779ba13e_Thumb.webp" class="card-img-top" alt="...">
           </div>
         </div>

         <hr class="featurette-divider">



       </div>

{% endblock %}

