
{% extends 'header.html' %}



{% block content %}
<br>
<br>


    <div class="container mt-5">
        <h1 class="mb-4">login</h1> <form  action="{{ url_for('login') }}" method="post">{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div  class="container mt-3">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>


{% endblock %}

